{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}

<div class="login-page">
    <strong><legend><p class="text-center">Ops! Não encontramos o seu cadastro!</p></legend></strong>

    <h4>Este curso foi criado para a formação cidadã do Sindsep e é disponibilizado
       para todos os seus filiados. Caso você seja filiado, ligue para <strong>Ricardo: 2129-2954</strong>
       ou <strong>Matheus: 2129-2962</strong> que eles procederão o seu cadastro imediatamente.</h4>
</div>

{% endblock %}
