{% load i18n %}
{% load staticfiles %}

<div class="container-fluid">
    <div class="certificate-container receipt">
      {% block certificate-logo %}
      <div class="certificate-logos">
          <img src="/static/img/logo-avante.png" alt="AVANTE" class="avante">
          <img src="/static/img/site-logo-orange.svg" alt="{{ site.name }}" class="paralapraca">
          <div class="institute-logo">
            <img class="img-responsive" src="{{ cert_template.cert_logo_url }}">
          </div>
      </div>
      {% endblock %}
      <div class="certificate-title">Atestado</div>
      <div class="certificate-info">
            <p>
                Você está visualizando uma atestado de conclusão de ao menos 80% do {{ object.course.name }}, em {{ object.created_date | date:"d/m/Y" }}.
            </p>            
            <p>
                Isto não é uma certificação porque a aula presencial deverá ser feita, com 100% de presença, na data de 07/10/2017, no horário especificado por você no ato da inscrição.
            </p>            
            <p>
                O certificado será emitido pelo SINDSEP, enviado à SME para validação e lançamento no SISTEMA EOL e depois retornará para o SINDSEP que enviará a você, filiado, pelo correio.
            </p>
            <p>
                Aos não filiados que fizeram o curso, pedimos que enviem seu endereço para o e-mail <a href="mailto:educacao@sindsep-sp.org.br">educacao@sindsep-sp.org.br</a>, para que possamos também enviar para a sua residência.
            </p>
      </div>

      <footer>
        <div class="credits-section">
            <p><b>Realizado em:</b> sindsep.politicapublica.social</p>
            <p><b>URL de validação:</b> <a href="{% url 'certificate' object.link_hash %}">sindsep.politicapublica.social{% url 'certificate' object.link_hash %}</a></p>
        </div>
        <div class="coordinator-section">
            {% if cert_template.signature_url %}
            <div class="certificate-signature">
                <img alt="Signature" src="{{ cert_template.signature_url }}">
            </div>
            {% endif %}
            <p class="name-coordinator">{{ cert_template.name }}</p>
            <p class="role-coordinator">{{ cert_template.role }}</p>
        </div>
      </footer>
    </div>
</div>
