{% load i18n %}
{% load staticfiles %}

<div class="container-fluid">
    <div class="certificate-container receipt">
      {% block certificate-logo %}
      <div class="certificate-logos">
          <div class="institute-logo">
            <img src="/static/img/sindesep-logo-atestado.png" alt="{{ site.name }}" class="sindesep">
          </div>
      </div>
      {% endblock %}
      <div class="certificate-subtitle">Atestado</div>
      <div class="certificate-info">
            <p>Este é um atestado de que você visualizou e respondeu as atividades do curso {{ object.course.name }}.</p>

            <p>Este é um passo importante, mas não o suficiente para a conclusão do curso. Para a certificação final, você precisa ainda estar presente na aula presencial na data de 11/11/2017, no período especificado por você no ato da inscrição.</p>

            <p>O certificado será emitido pelo SINDSEP, enviado à SME para validação e lançamento no SISTEMA EOL e depois retornará para o SINDSEP que enviará a você, filiado, pelo correio.</p>

            <p>Aos não filiados que fizeram o curso, pedimos que enviem seu endereço para o e-mail: <a href="mailto:educacao@sindsep-sp.org.br">educacao@sindsep-sp.org.br</a>, para que possamos enviar para a sua residência.</p>
      </div>

      <footer>
        <div class="credits-section">
            <p><b>Realizado em:</b> sindsep.politicapublica.social</p>
            <p><b>URL de validação:</b> <a href="{% url 'certificate' object.link_hash %}">sindsep.politicapublica.social{% url 'certificate' object.link_hash %}</a></p>
        </div>
        <div class="coordinator-section">
            {% if cert_template.signature_url %}
            <div class="certificate-signature">
                <img alt="Signature" src="{{ cert_template.signature_url }}">
            </div>
            {% endif %}
            <!-- <p class="name-coordinator">{{ cert_template.name }}</p>
            <p class="role-coordinator">{{ cert_template.role }}</p> -->
        </div>
      </footer>
    </div>
</div>
