{% load i18n %}
{% load staticfiles %}

<div class="container-fluid">
    <div class="certificate-container receipt">
      {% block certificate-logo %}
      <div class="certificate-logos">
          <div class="institute-logo">
            <img src="/static/img/sindsep-logo-atestado-parceiros.jpg" alt="{{ site.name }}" class="sindesep">
          </div>
      </div>
      {% endblock %}
      <div class="certificate-title">
        ATESTADO DE PARTICIPAÇÃO DO CURSO EAD REFLEXÕES SOBRE O DESENVOLVIMENTO INFANTIL E A SOCIOLOGIA DA INFÂNCIA
    </div>
    <!-- <div class="certificate-subtitle">
        ATESTADO DE PARTICIPAÇÃO DE CURSO DE EAD
    </div> -->
    <div class="certificate-info">
        <p>
          Parabéns, {{ object.course_student.user.get_full_name }}, você concluiu a etapa on line do curso Reflexões sobre o desenvolvimento infantil e a sociologia da infância, mas, ainda não concluiu todo o curso.<br><br>

          Este é um atestado de que você visualizou e respondeu as atividades on line.<br><br>

          É um passo importante, mas não o suficiente para a receber a sua certificação. Portanto, para conclusão de 100% do curso, você precisa ainda:<br><br>

          - receber a aprovação da atividade pelos mediadores. Entre com frequência para ver se sua atividade já foi respondida e, caso tenha algum pedido de ajuste, execute-o.<br><br>

          - estar presente na aula presencial na data de 30/06/2018, no período especificado por você no ato da inscrição.<br><br>

          O certificado será emitido pelo SINDSEP, enviado à SME para validação e lançamento no SISTEMA EOL e depois retornará para o SINDSEP que enviará a você, filiado, pelo correio.<br><br>

          Aos não filiados que fizeram o curso, pedimos que enviem seu endereço para o e-mail: educacao@sindsep-sp.org.br, para que possamos enviar para a sua residência."<br><br>

          <p class="signature-section">
            Atenciosamente,
            <img src="/static/img/signature.png" alt="Diretoria Executiva" class="signature">
            <span>SÉRGIO ANTIQUEIRA</span>
            <small>Presidente do Sindicato dos Trabalhadores na Administração Pública e Autarquias do Município de São Paulo – SINDSEP</small>

        </p>
    </div>


    <!-- <footer>
        <div class="credits-section">
            <p><b>Emitido em:</b> {{ object.modified_date | date:"d/m/Y" }}</p>
            <p><b>Realizado em:</b> http://politicapublica.social</p>
            <p><b>URL de validação:</b> <a href="{% url 'certificate' object.link_hash %}">http://sindsep.politicapublica.social{% url 'certificate' object.link_hash %}</a></p>
        </div> -->
        <!--<div class="coordinator-section">
            {% if cert_template.signature_url %}
            <div class="certificate-signature">
                <img alt="Signature" src="{{ cert_template.signature_url }}">
            </div>
            {% endif %}
            <p class="name-coordinator">{{ cert_template.name }}</p>
            <p class="role-coordinator">{{ cert_template.role }}</p>
        </div>-->
    <!-- </footer>
    </div> -->
</div>
