<div class="container-fluid">
    <div class="certificate-container">

        <div class="line"><span></span><span></span><span></span></div>

        <div class="certificate-logos">
            <div class="institute-logo">
                <img src="/static/img/sindesep-logo-atestado.png" alt="{{ site.name }}" class="sindesep">
            </div>
        </div>
        <div class="certificate-title">
            CURSO EAD – FORMAÇÃO
            CIDADÃ: PLANO MUNICIPAL DE EDUCAÇÃO - PME/CONAE 2018 Dia 01/03/2017
        </div>
        <div class="certificate-subtitle">
            ATESTADO DE PARTICIPAÇÃO DE CURSO DE EAD
        </div>
        <div class="certificate-info">
            <p>
                Atestamos, para os devidos fins, que o(a) servidor(a)<br>
                {{ object.course_student.user.get_full_name }}, RF: {{ object.course_student.user.sindsepprofile.rf }}, participou do {{ object.course_student.course.name }}, conforme INSTRUÇÃO NORMATIVA SME Nº 2, DE 31/01/2018, <b>publicada no DOC DE 01/02/2018 - página 20</b>, promovido pelo Sindicato dos Trabalhadores na Administração Pública e Autarquias do Município de São Paulo – Sindsep/SP.<br>

                O curso foi realizado na modalidade de “Ensino à Distância - EAD”, no dia 14 de fevereiro de 2018, com acesso ao link no site www.sindsep-sp.org.br, liberado a partir das 12h até 23:59h, com carga horária de 4h.<br>

                Sem mais para o momento e nos colocando à disposição para o que couber.</p>
            <p class="signature-section">
                Atenciosamente,
                <span>SÉRGIO ANTIQUEIRA</span>
                <small>Presidente do Sindicato dos Trabalhadores na Administração Pública e Autarquias do Município de São Paulo – SINDSEP</small>

            </p>
            <p>São Paulo, 14 de fevereiro de 2018.</p>
        </div>
        <footer>
            <div class="credits-section">
                <p><b>Emitido em:</b> {{ object.modified_date | date:"d/m/Y" }}</p>
                <p><b>Realizado em:</b> http://politicapublica.social</p>
                <p><b>URL de validação:</b> <a href="{% url 'certificate' object.link_hash %}">http://sindsep.politicapublica.social{% url 'certificate' object.link_hash %}</a></p>
            </div>
            <!--<div class="coordinator-section">
                {% if cert_template.signature_url %}
                <div class="certificate-signature">
                    <img alt="Signature" src="{{ cert_template.signature_url }}">
                </div>
                {% endif %}
                <p class="name-coordinator">{{ cert_template.name }}</p>
                <p class="role-coordinator">{{ cert_template.role }}</p>
            </div>-->
        </footer>

        <div class="line"><span></span><span></span><span></span></div>
    </div>
</div>
