{% load i18n %}

<!-- FOOTER -->
<div class="site-footer">
    <!--<p class="legal-text">Texto legal:  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>-->

    <ul class="logos">
        <li>
            <a href="https://www.hacklab.com.br/">
                <img src="/static/img/hacklab-logo.png" alt="Hacklab">
            </a>
        </li>
        <li>
            <a href="http://www.portalgens.com.br/">
                <img src="/static/img/gens-logo.png" alt="Gens - Instituto de Educação e Cultura">
            </a>
        </li>
        <li>
            <a href="https://www.entremeios.me/">
                <img src="/static/img/entremeios-logo.png" alt="Entremeios">
            </a>
        </li>
    </ul>
</div>
<!-- END FOOTER -->
