.messages {
    .page {
        @include card(rgba($green,0.25));
    }
}

.messages-list {
    .page-header {
        background-color: $green;
        h2 {
            color: #fff;
        }
        .btn {
            @include button-hover(#fff,#fff,$gray,darken($gray, 5%));
        }
    }
    .title-header {
        h3 {
            color: $orange;
        }
        .btn {
            &.hide-all, &.show-all {
                @include link-hover($orange,darken($orange,5%),$orange,darken($orange,5%));
            }
        }
    }
    .message {
        &.unread {
            .message-body {
                border-left: 5px solid $orange;
                .see-more {
                    @include button-hover(#fff,#fff,$green,darken($green, 5%));
                }
            }
        }
    }
}