// Notes' pages
// --------------------------------------------------

.my-notes.page {
    @include card(rgba($green,0.3));
}

.notes {
    .header {
        .btn {
            margin-top: -5px;
        }
        .btn-primary {
            background: $green;
            &:hover {
                background: darken($green,10%);
            }
        }
        .btn-info {
            background: $orange;
            &:hover {
                background: darken($orange,10%);
            }
        }
    }
    .lesson-title {
        color: $orange;
    }
    .notes-list {
        border-color: $orange;
    }
}